*{  padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.heading{
    padding: 20px;  
    color:#FA4B10;  
    text-align: center;
}

nav{
    display: flex;
    padding: 0 0 12px;
    flex-direction: column;
}

.nav_coloum p{
    display: flex;
    padding: 12px 0px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    transition: all linear 0.5s;
    background-color: #0955b2;
}

.nav_coloum p:hover,p:active {
   color:black;
   background-color:#8EDEF0;
}

.home{
    display: flex;
    flex-direction: column; 
    background-color: #fbfbfb;  
}

.home_text {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

.home_text h1{
    font-size: 35px;
    color: #242424;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;    
}

.home_text p{
    color:#5a5a5a;
    text-align: center;
    margin-bottom: 20px;
}

.home_text_list {
    display: flex;
    flex-direction: row;   
}

.home_text_list ul li{
    padding: 10px ;
    list-style: none;
    color: #0955b2;
    line-height: 21px;
   transition: all linear 0.5s;
}

.home_text_list ul li:hover{
  color: #f44336;
}


.home_text_list_button a:link, a:visited {
    color: white;
    margin-top: 30px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all linear 0.5s;
    background-color:    #0955b2;
  }
  
  a:hover, a:active {
    background-color: #f44336;
  }

.home_images{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    
}

.home_images img{
    width: 80%;
    height: 80%;

}

.portfolio{
    display: flex;
    flex-direction: column-reverse;
}

.portfolio_img {
    display: flex;
    padding:0 0 20px;
    justify-content: center;
}

.portfolio_img img{
    width: 80%;
}

.portfolio_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.portfolio_text_heading{
    padding: 20px 0; 
    text-align: center; 
}

.portfolio_text h1{
    font-size: 35px;
    color: #242424;
    font-weight: bold;
    letter-spacing: 2px;  
   
}

.portfolio_text p{
    color:#5a5a5a;
    padding: 0 0 20px; 

}



.service{
    background-color: #fbfbfb; 
}

.service_box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.service_txt {
    display: flex;
    margin: 20px 0;
}

.service_txt h1{
    font-size: 35px;
    color: #FA4B10;
    font-weight: bold;
    text-align: center;  
    letter-spacing: 2px;
}

.service_cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service_card{
    padding: 20px;
    background-color: #ffffff;
}

.service_card_image{
    height: 50%;
    display: flex;

    
}

.service_card_image img{
    width: 100%;
    
}


.service_card_txt {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.service_card_txt h3{
    padding:  10px 0;
}
.service_card_txt p{
    padding: 0 20px;
}

footer{
    
    background-color: #242424;
    
    
}

footer ul {
    display: flex;
    list-style: none;
   flex-direction: column;}

footer ul li{
    padding: 5px 0;
    color: #ffffff;
}

